body {
}

h2 {
    padding-top: 50px;
}

#content {
    padding-left: 25px;
}

.class1, .class2 {
    width: 200px;
    height: 200px;
    background-size: 100%;
    padding-bottom: 10px;
}

.class1 {
    background: url('/images/img1.png') no-repeat;
}

.class2 {
    background: url('/images/img2.png') no-repeat;
}
    

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
